.btn-submit{
    height: 40px;
    min-width: 64px;
    padding: 8px 22px;
    text-transform: capitalize;
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
    line-height: 1.71429;
    font-size: 0.9375rem;
    user-select: none;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    background-color: rgb(32, 101, 209);
    box-shadow: rgb(32 101 209 / 24%) 0px 8px 16px 0px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.link-sign{
    margin: 0;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.57143;
    letter-spacing: 0.01071em;
    color: rgb(32, 101, 209);
    -webkit-text-decoration: underline;
    text-decoration: none;
    text-decoration-color: rgba(25, 118, 210, 0.4);

}