
.head-search{
    width: 100%;
    margin:10px 0;
}

.title-search{
    margin: 0px 0px 24px;
    font-weight: 700;
    line-height: 1.55556;
    font-size: 1.0625rem;
    font-family: "Public Sans", sans-serif;
    color: rgb(133, 141, 150);
    font-size: 1.125rem;
}

.input-container{
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 12px;
}

.result-search{
    margin: 0px;
    font-weight: 700;
    line-height: 1.55556;
    font-size: 1.0625rem;
    font-family: "Public Sans", sans-serif;
    color: rgb(108, 140, 170);
    font-size: 1rem;
}
#title-result{
    margin: 5px 10px;
    font-weight: 700;
    line-height: 1.55556;
    font-size: 1.0625rem;
    font-family: "Public Sans", sans-serif;
    color: #1976d2;
    font-size: 0.9rem;
}
#desc-result{
    margin: 5px 10px;
    font-weight: 700;
    line-height: 1.55556;
    font-size: 1.0625rem;
    font-family: "Public Sans", sans-serif;
    color: #1976d2;
    font-size: 0.9rem;
}