<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>Inicie la busqueda</h2>
    <form action="." method="POST">
        {%csrf_token%}
        <input type="text" name="search" placeholder="Search Article">
        <input type="number" name="pages" placeholder="Pages">
        <select name="company" id="">
            <option value="amazon">Amazon</option>
            <option value="ebay">Ebay</option>
        </select>
        <input type="submit"><br>
        {{mensaje}}
    </form>
</body>
</html>